<!doctype html>
<html lang="en">
	<head>

	<meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>
  <meta name="description" content="Matthew Waldron Resume">
  <meta name="keywords" content="resume">

  <!-- Icons and Colors -->
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./manifest.json">
  <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">

	<title>{{resume.basics.name}}</title>

	<style>
	{{{css}}}
	</style>

	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker && navigator.serviceWorker.register('./sw.js');
			});
		}
	</script>

	</head>
	<body>

	<div id='resume'>
  <header>
	{{#resume.basics}}
  <h1 id='nameBlock' class='largeFont'>
    <span class='name'>
      {{name}}{{#if label}},{{/if}}
    </span>
    {{#if label}}
    <span class='label'>{{label}}</span>
    {{/if}}
  </h1>
  <div id='basicsBlock' class='smallFont'>
    <div id='profilesBlock'>
      {{#if email}}
        <a class='email' href="mailto:contact@waldronmatthew.com">{{email}}</a>
        <span class='divider'>|</span>
      {{/if}}
      {{#if phone}}
        <span class='phone'>{{phone}}</span>
        <span class='divider'>|</span>
      {{/if}}
      {{#location}}
        <span class='address'>
          {{#if city}}{{city}}{{/if}}{{#if region}}, {{region}}{{/if}}{{#if countryCode}}, {{countryCode}}{{/if}}
        </span>
        <span class='divider'>|</span>
      {{/location}}
      {{#if profiles.length}}
        {{#each profiles}}
          {{#if url}}
            <span class='url'>
              <a href='{{url}}' target="_blank" noopener noreferrer>{{network}}</a>
            </span>
            {{#unless @last}}<span class='divider'>|</span>{{/unless}}
          {{/if}}
        {{/each}}
      {{/if}}
      {{#if resume}}
        <span class='divider'>|</span>
        <a class='resume' href="./matthew-waldron-resume.pdf" target="_blank">{{resume}}</a>
      {{/if}}
    </div>
  </div>
  <div class='sectionLine'></div>
	{{/resume.basics}}
  </header>

  <main>
  {{#if resume.basics.summary}}
  <div id='summaryBlock' class="sectionBlock">
    <div class='sectionName'>
      <span>SUMMARY</span>
    </div>
    <div class='sectionContent'>
      <span>{{resume.basics.summary}}</span>
    </div>
  </div>
  <div class='sectionLine'></div>
  {{/if}}

	{{#if resume.work.length}}
  <div id='workBlock' class="sectionBlock">
    <div class='sectionName'>
      <span>EXPERIENCE</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.work}}
      {{#if breakBefore}}
        <section class="item page-break">
      {{else}}
        <section class="item">
      {{/if}}
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <span class='title'>
	          {{#if company}}{{company}}{{/if}}{{#if position}} - {{position}}{{/if}}
	        </span>
	        {{#if startDate}}
	        <span class='date'>
	          {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
	        </span>
	        {{/if}}
	      </div>
        {{#if website.length}}
          <div>
            <a href='{{website}}' noopener noreferrer>{{website}}</a>
          </div>
        {{/if}}
	      {{#if highlights.length}}
	        {{#each highlights}}
	        <p>{{.}}</p>
	        {{/each}}
	      {{/if}}
	      {{#if details.length}}
	      <ul class='details'>
	        {{#each details}}
	        <li>{{#if text}}{{text}}{{/if}}{{#if comment}} <em>[{{comment}}]</em>{{/if}}</li>
	        {{/each}}
	      </ul>
	      {{/if}}
	      {{#unless @last}}<div class='separator'></div>{{/unless}}
			</div>
      {{/each}}
    </div>
  </div>
  <div class='sectionLine'></div>
	{{/if}}

	{{!-- {{#if resume.publications.length}}
	<div id='publications'>
    <div class='sectionName'>
      <span>PUBLICATIONS</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.publications}}
      <div class='blockHeader'>
        <span class='title'>
          {{#if name}}{{name}}{{/if}}{{#if publisher}}, {{publisher}}{{/if}}
        </span>
        {{#if releaseDate}}
        <span class='date'>
          <span class='releaseDate'>{{releaseDate}}</span>
        </span>
        {{/if}}
      </div>
      {{#if website}}
      <div class='website'>
        <a href='{{website}}' noopener noreferrer>{{website}}</a>
      </div>
      {{/if}}
      {{#if highlights.length}}
      <ul class='highlights'>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
	</div>
  <div class='sectionLine'></div>
	{{/if}} --}}

  {{#if resume.certificates.length}}
  <div id='certifications' class="sectionBlock">
    <div class='sectionName'>
        <span>CERTIFICATES</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.certificates}}
        {{#if breakBefore}}
          <section class="item page-break">
        {{else}}
          <section class="item">
        {{/if}}
        <div class='blockHeader'>
        <span class='title'>
          {{#if name}}{{name}}{{/if}}{{#if issuer}}, {{issuer}}{{/if}}
        </span>
        {{#if date}}
        <span class='date'>
            <span class='releaseDate'>{{date}}</span>
        </span>
        {{/if}}
        </div>
        {{#if url}}
        <div class='website'>
          <a href='{{url}}' noopener noreferrer>{{url}}</a>
        </div>
        {{/if}}
        {{#if highlights.length}}
        <ul class='highlights'>
          {{#each highlights}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
        {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
    </div>
  <div class='sectionLine'></div>
  {{/if}}

	{{!-- {{#if resume.awards.length}}
	<div id='awards' class="sectionBlock">
    <div class='sectionName'>
      <span>AWARDS</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.awards}}
      <div class='blockHeader'>
        <span class='title'>
          {{#if title}}{{title}}{{/if}}{{#if awarder}}, {{awarder}}{{/if}}
        </span>
        {{#if date}}
        <span class='date'>
          <span class='date'>{{date}}</span>
        </span>
        {{/if}}
      </div>
      {{#if highlights.length}}
      <ul class='highlights'>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
	</div>
  <div class='sectionLine'></div>
	{{/if}} --}}

	{{!-- {{#if resume.volunteer.length}}
	<div id='volunteer' class="sectionBlock">
    <div class='sectionName'>
      <span>VOLUNTEERING</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.volunteer}}
      <div class='blockHeader'>
        <span class='title'>{{#if organization}}{{organization}}{{/if}}{{#if position}} - {{position}}{{/if}}</span>
        {{#if startDate}}
        <span class='date'>
          {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
        </span>
        {{/if}}
        {{#if website}}
        <div class='website'><a href='{{website}}' noopener noreferrer>{{website}}</a></div>
        {{/if}}
        {{#if highlights.length}}
        <ul class='highlights'>
          {{#each highlights}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
	</div>
  <div class='sectionLine'></div>
	{{/if}} --}}

	{{#if resume.education.length}}
	<div id='education' class="sectionBlock">
    <div class='sectionName'>
      <span>EDUCATION</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.education}}
      {{#if breakBefore}}
        <section class="item page-break">
      {{else}}
        <section class="item">
      {{/if}}
      <div class='educationBlock'>
        <span class='title'>
          {{#if institution}}{{institution}}{{/if}}
        </span>
        {{#if startDate}}
        <span class='date'>
          {{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
        </span>
        {{/if}}
        <div class=''>
          {{#if studyType}}{{studyType}} {{/if}} in {{#if area}}{{area}}{{/if}}{{#if gpa}}, GPA: {{gpa}}{{/if}}
        </div>
        <div class=''>
          {{#if subarea}}{{subarea}}{{/if}}
        </div>
        {{!-- {{#if courses.length}}
        <div id='coursesBlock'>
          {{#each courses}}
          <ul class='coursesList'>
            {{#each .}}
            <li class='course'>{{.}}</li>
            {{/each}}
          </ul>
          {{/each}}
        </div>
        {{/if}} --}}
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
	</div>
  <div class='sectionLine'></div>
	{{/if}}

	{{#if resume.skills.length}}
	<div id='skills' class="sectionBlock">
    <div class='sectionName'>
      <span>SKILLS</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.skills}}
      <div class='skillBlock'>
        <span class='title'>{{#if name}}{{name}}{{/if}}{{#if level}} <em>({{level}})</em>{{/if}}:</span>
        {{#if keywords.length}}
          {{#each keywords}}
          <span>{{.}}</span>{{#unless @last}}, {{/unless}}
          {{/each}}
        {{/if}}
        {{#if details.length}}
          {{#each details}}
          <span>{{#if text}}{{text}}{{/if}}{{#if comment}} <em>({{comment}})</em>{{/if}}{{#unless @last}}, {{/unless}}</span>
          {{/each}}
        {{/if}}
      </div>
      {{/each}}
    </div>
	</div>
  <div class='sectionLine'></div>
	{{/if}}

	{{!-- {{#if resume.languages.length}}
	<div id='languages' class="sectionBlock">
    <div class='sectionName'>
      <span>LANGUAGES</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.languages}}
      <span class='language'>{{language}}</span>
      {{#if fluency}}
      <span class='fluency'><em>({{fluency}})</em></span>
      {{/if}}
      {{#unless @last}}<span>,</span>{{/unless}}
      {{/each}}
    </div>
    <div class='sectionLine'></div>
	</div>
  {{/if}} --}}

	{{!-- {{#if resume.interests.length}}
	<div id='interests' class="sectionBlock">
    <div class='sectionName'>
      <span>INTERESTS</span>
    </div>
    <div class='sectionContent'>
      {{#each resume.interests}}
      <span class='name'>{{name}}</span><!--
      {{#if keywords.length}}
      --><span class='keywords'> <em>[
      {{#each keywords}}
        {{.}}<!--
        -->{{#unless @last}}, {{/unless}}
      {{/each}}
      ]</em></span><!--
      {{/if}}
      -->{{#unless @last}}<span>, </span>{{/unless}}
      {{/each}}
    </div>
    <div class='sectionLine'></div>
	</div>
  {{/if}} --}}
  </main>

	</body>
</html>
